
h1 {
    font-family: lato;
    text-align: center;
}

.wrapper{
    display: grid;
    margin-left: 1rem;
    padding: 0px;
    margin-bottom: 0px;
    grid-template-columns: 35% 65%;
    grid-template-areas: 
        'logo nav nav nav';
}
a{
    text-decoration: none;
    color: black;

}



/**Logo Manupilation**/

.logo{
    grid-area: logo;
    padding-left: 1em;
    padding: 3.5em;
    margin: 0.5rem;
    margin-left: 5rem;
    align-content: center;
    background-image: url('/Images/Green.png');
    background-repeat: no-repeat;
    background-size: 109px;

}

/**.logo h1{
    font-family: bebas neue;
    color: green;
}**/

/** Navigation **/ 

.navigation{
    grid-area: nav;
    padding-top: 1.5em;
    padding-bottom: 2%;
    transition: all 300ms;
    
}

.navigation ul {
    
    display: grid;
    grid-gap: 2pc;
    list-style: none;
    grid-template-columns: repeat(3, 8rem);
    justify-content: left;
    font-family: lato;
    
    
}

.navigation ul li{
    padding-bottom: 2%;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 15pt;
}

.navigation a:hover{
    text-decoration: underline;
}

.navigation ul li ul{
    display: none;
    margin-top: 0.3rem;

}
.navigation ul li:hover ul{
    position: absolute;
    display: block;
    align-content: left;
    background: rgb(255, 255, 255);    
    box-shadow: 2px 2px 4px rgb(126, 126, 126);
    padding-left: 0px;
    padding-right: 10px;
    border-radius: 10px;
    grid-template-rows: repeat(4, 1pc);
        
}
.navigation ul li:hover ul li{
    
    padding: 1em;   
     
}

/* .navigation ul li ul li a{
    padding-top: 0%;
    margin-top: 0%;  

} */

/** Landing Page **/

.landing_page{
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 100px;
    margin-top: 2em;
    margin-bottom: 2%;
    

}


/**Left Container**/
.one{
    /* display: block; */
    padding: 10% 0% 20% 5%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    
}
.one h1{
    font-family: lato light;
    padding-left: 0em;
    text-align: left;
    text-transform: uppercase;
    font-size: 40pt;
}

.one p{
    font-family: Montserrat;
    padding-right: 2em;
    padding-bottom: 2em;
    text-align: left;
    font-size: 14pt;
    color: rgb(121, 121, 121);
    
}

.one a {
    background-color: rgb(245, 90, 0);
    color: white;
    padding: 1em;
    margin-top: 10em;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}

.one a:hover{
    background-color: rgb(253, 59, 0);
    
}

/** Image Container **/
.second{
    background-color: antiquewhite;
    background-image: url('/Images/Main.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 30%
} 


/* info*/

.info{
    display: none;
    /* background-color: rgb(98, 100, 143);  */
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(126, 126, 126);
    margin: 0%;
    background-color: white;
}

.info p{
    transition: all 1s ease-in-out;
    visibility: hidden;
}

table{
    padding: 0%;
    margin: 0%;
    vertical-align: baseline;
    display: table-row;
    
}
table, th, td {
    border: 0.5px solid rgb(255, 255, 255);
    border-collapse: separate;
    border-spacing: 1px
  }

th, td {
    padding: 15px;
  }

th{
    font-family: lato light;
}

td{
    font-family: Montserrat;
}
.table tr:nth-child(even){
    background-color:rgb(218, 218, 218);
}

/** Courses **/

.subject{
    margin-top: 0px;
    margin-right: 100px;
    margin-left: 135px;
    display: grid;
    grid-template-rows: repeat((2,1fr));
    grid-template-columns: repeat(3,1fr);
    
    text-align: center;
    font-family: Montserrat;
    font-size: 8pt;
    grid-gap: 2em;
    grid-template-areas: 
        "course course    course"
        "python fullstack Ai ";
    animation: fadein 0.25 ease-out normal backwards;
}
.courses{
    grid-area: course;
    padding:1rem;
    
}
.courses h1{
    font-size: 30pt;
    text-align: center;
}
.Python{
    grid-area: python;
    background-color: rgb(255, 255, 255);
    padding-top: 100%;
    text-align: center;
    background-image: url('/Images/Python.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all 300ms;
    box-shadow: 0 0rem 0.3rem gray;
    
}

.fullstack{
    grid-area: fullstack;
    background-color: rgb(255, 250, 230);
    padding-top: 100%;
    text-align: center;
    background-image: url('/Images/Fullstack.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 30% 30%;
    box-shadow: 0 0 0.3rem gray;
    transition: all 300ms;
}


.ai{
    grid-area: Ai;
    background-color: rgb(255, 255, 255);
    padding-top: 100%;
    text-align: center;
    background-image: url('/Images/AI_2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 60% 40%;
    box-shadow: 0 0.1rem 0.3rem gray;
    transition: all 300ms;
}
  

.Python h2{
    background-color: white;
    padding: 1.5px;
}


.fullstack h2{
    background-color: white;
    padding: 1.5px;
}

.ai h2{
    background-color: white;
    padding: 1.5px;
}

.Python:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.fullstack:hover{
    cursor: pointer;
    transform: scale(1.05);
} 

.ai:hover{
    cursor: pointer;
    transform: scale(1.05);
}
/**contacts**/
.contact{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0rem;
    background-color: rgb(238, 238, 238);
    padding: 5px 10px 5px 30px;
}

.location {
    font-family: Montserrat;
    font-size: 10pt;
    padding: 0px;
    text-align: left;
}

.address{
    font-family: Montserrat;
    font-size: 10pt;
    padding: 0px;
    text-align: left;
}

.email {
    font-family: Montserrat;
    font-size: 10pt;
    text-align: left;
    color: black;
}

.email a{
    color: black;
}

.social{
    font-family: Montserrat;
    font-size: 10pt;
    text-align: left;
}

/**footer**/
footer{
    text-align: center;
    font-family: Montserrat;
    font-size: 8pt;
}






@media(max-width: 450px){
    .wrapper{
        position: relative;
        height: 100px;
        margin: 0;
    }
    .logo{
        width: 25%;
        height: 100px;
        background-size: 95%;
        margin-left: 0;
        float: left;
    }
    .navigation{
        width: 75%;
        float: left;
    }
    .navigation ul{
        /*grid-template-columns: repeat(6, 5rem);*/
        padding-left: 10px;
        grid-template-columns: repeat(3, 6rem);
        font-size: 15pt;
        grid-gap: 0;
    }
    .landing_page{
        margin: 10px;
        grid-template-rows: 85% 50%;
        width: 100%;
    }
    .one p{
        padding: 5px;
        font-size: 10pt;
    }
    .one h1{
        margin: 0;
        font-size: 20pt;
    }
    .subject{
        margin: 20px;
        width: 100%;
    }
    .Python{
        height: 28%;
        background-size: 275%;
        background-position: 46% ;

    }
    .contact{
        grid-template-columns: repeat(1,1fr);
        padding: 0;
        width:109%;
        margin-left: 10px;
    }
    iframe{
        width: 100%;
    }
}